<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-header></app-header>
      <!-- <hr /> -->
      <hr class="border border-primary border-3 opacity-75">

      <!-- <app-sidebar></app-sidebar>
      <hr /> -->

      <app-course-register
        (courseCreated)="OnCourseCreated($event)"
      ></app-course-register>
      <hr />

      <button class="btn btn-primary" (click)="onShowCourses($event)">
        Show courses
      </button>
      <div [hidden]="!isCoursesVisible">
        <p>This is the list of my courses:</p>
        <app-course
          *ngFor="let course of courses"
          [course]="course"
          (courseDeleted)="OnCourseDeleted($event)"
        ></app-course>
      </div>
    </div>
  </div>
</div>
